CRM List Leads.json
{
  "name": "CRM List Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-list-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c001",
      "name": "Webhook",
      "webhookId": "b7c3d9e1-4a55-46f2-8c10-2e9f44a0c777"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2b1a0d9-3e44-45aa-9c01-1f2b3c4d5e6f",
              "leftValue": "={{ ($json.body || {}).ping === true }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        200,
        0
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c002",
      "name": "Ping Guard"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"pong\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        -160
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c003",
      "name": "Respond Pong"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=crm.lead",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c004",
      "name": "Get many items",
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Sv6udoSjCErFqjcV",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// crm-list-leads — return Odoo crm.lead opportunities, shaped for the AI CRM\n// Platform workspace. Odoo returns false for empty fields, so coerce to clean values.\nconst items = $input.all().map(i => i.json);\n\nconst v = (x) => (x === false || x === null || x === undefined) ? '' : x;\nconst clean = (s) => String(v(s)).replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n\nfunction mapPriority(p) {\n  const s = String(v(p)).toLowerCase();\n  if (s === 'hot' || s === 'warm' || s === 'cold') return s;\n  if (s === '3') return 'hot';   // Odoo 'Very High'\n  if (s === '2') return 'warm';  // Odoo 'High'\n  return 'cold';                 // Odoo 'Medium'/'Normal'/empty\n}\n\nconst leads = items\n  .filter(r => v(r.type) === 'opportunity')\n  .map(r => {\n    const desc = clean(r.description);\n    return {\n      id: r.id,\n      name: v(r.name) || v(r.contact_name) || v(r.partner_name) || 'Unnamed lead',\n      email_from: v(r.email_from),\n      phone: v(r.phone) || v(r.mobile),\n      type: 'opportunity',\n      interest: (desc || v(r.name) || '').slice(0, 90),\n      intent: 'sales_inquiry',\n      priority: mapPriority(r.priority),\n      create_date: v(r.create_date),\n      write_date: v(r.write_date) || v(r.create_date),\n      expected_revenue: Number(v(r.expected_revenue)) || 0\n    };\n  });\n\nreturn [{ json: { leads } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        0
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c005",
      "name": "Shape Leads"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, count: $json.leads.length, leads: $json.leads } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        840,
        0
      ],
      "id": "a1f0c2e4-1b22-4c10-9f01-7d2a51b0c006",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ping Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Guard": {
      "main": [
        [
          {
            "node": "Respond Pong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "Shape Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Leads": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3a75b02-0522-4539-823a-26223cd30900",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5576a61ccc5fa33a18217bcace55a423e3e430baa28dacc37bad3c4d0ca47da7"
  },
  "id": "crmListLeads0001",
  "tags": []
}
