Module 2.json
{
  "name": "Module 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "a7f7634a-0518-420f-a3fd-b350659b7723",
      "name": "Webhook",
      "webhookId": "977ba1a6-09cf-41e5-aeca-f1bb60b9ecdf"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Extract CRM lead information from the following customer message.  Return ONLY valid JSON with this exact structure: {   \"name\": \"\",   \"email\": \"\",   \"phone\": \"\",   \"interest\": \"\",   \"intent\": \"\",   \"priority\": \"\",   \"recommended_action\": \"\" }  Rules: - If a value is missing, use an empty string. - intent must be one of: sales_inquiry, support_request, complaint, partnership, irrelevant. - priority must be one of: hot, warm, cold. - Classify as hot if the customer asks for price, demo, meeting, or gives clear contact information. - Classify as warm if the customer asks general information but the request is not urgent. - Classify as cold if the message is vague or irrelevant. - Do not add explanation. - Do not use markdown. - Return JSON only.  Customer message: {{$json.body.message}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "6e30fcdb-d68a-483a-a179-7a13076784f6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        416,
        192
      ],
      "id": "0f57abf0-4988-4040-a762-596bbc58b8c1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "1m5rFaiuChafuLdv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "973c130d-5c52-4969-b436-1346cfbee7b7",
              "name": "chatInput",
              "value": "\"Extract CRM lead information from the following customer message.\\n\\nReturn ONLY valid JSON with this exact structure:\\n{\\n  \\\"name\\\": \\\"\\\",\\n  \\\"email\\\": \\\"\\\",\\n  \\\"phone\\\": \\\"\\\",\\n  \\\"interest\\\": \\\"\\\",\\n  \\\"intent\\\": \\\"\\\",\\n  \\\"priority\\\": \\\"\\\",\\n  \\\"recommended_action\\\": \\\"\\\"\\n}\\n\\nRules:\\n- If a value is missing, use an empty string.\\n- intent must be one of: sales_inquiry, support_request, complaint, partnership, irrelevant.\\n- priority must be one of: hot, warm, cold.\\n- Do not add explanation.\\n- Do not use markdown.\\n- Return JSON only.\\n\\nCustomer message:\\n\" + $json.body.message",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "a693b97e-c4f7-46ba-8662-4e828569a98b",
      "name": "set"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\nlet data;\n\ntry {\n  data = JSON.parse(raw);\n} catch (error) {\n  data = {\n    name: \"\",\n    email: \"\",\n    phone: \"\",\n    interest: \"\",\n    intent: \"irrelevant\",\n    priority: \"cold\",\n    recommended_action: \"Manual review required\"\n  };\n}\n\nreturn [\n  {\n    json: data\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "2d36ed61-ff39-4237-9e72-0a765443450a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=crm.lead",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "name",
              "fieldValue": "={{$json.name}} - {{$json.interest}}"
            },
            {
              "fieldName": "email_from",
              "fieldValue": "={{$json.email}}"
            },
            {
              "fieldName": "phone",
              "fieldValue": "={{$json.phone}}"
            },
            {
              "fieldName": "type",
              "fieldValue": "opportunity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1584,
        -128
      ],
      "id": "c856e4f5-5f17-46f1-abf4-d6179421b08e",
      "name": "Create an item",
      "credentials": {
        "odooApi": {
          "id": "Sv6udoSjCErFqjcV",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=crm.lead",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "type",
              "value": "opportunity"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        928,
        0
      ],
      "id": "35c8a7e0-ad00-48fc-8251-dcfccf7b2525",
      "name": "Get many items",
      "credentials": {
        "odooApi": {
          "id": "Sv6udoSjCErFqjcV",
          "name": "Odoo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newLead = $('Code in JavaScript').first().json;\nconst existingLeads = $input.all().map(item => item.json);\n\nconst clean = (value) => {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/\\s/g, \"\")\n    .trim();\n};\n\nconst duplicate = existingLeads.find(lead => {\n  const sameEmail =\n    clean(newLead.email) !== \"\" &&\n    clean(lead.email_from) !== \"\" &&\n    clean(newLead.email) === clean(lead.email_from);\n\n  const samePhone =\n    clean(newLead.phone) !== \"\" &&\n    clean(lead.phone) !== \"\" &&\n    clean(newLead.phone) === clean(lead.phone);\n\n  return lead.type === \"opportunity\" && (sameEmail || samePhone);\n});\n\nreturn [\n  {\n    json: {\n      ...newLead,\n      isDuplicate: duplicate ? true : false,\n      duplicateId: duplicate ? duplicate.id : null,\n      matchedEmail: duplicate ? duplicate.email_from : null,\n      matchedPhone: duplicate ? duplicate.phone : null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -160
      ],
      "id": "7501a939-c0c1-4842-8ef0-902997134558",
      "name": "Check Duplicate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39cb0518-0058-4cb6-a2c7-47a2daea08f2",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        -160
      ],
      "id": "eab25e99-27ff-4872-a34e-c86f33d0f28f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"created\",\n  \"message\": \"Lead created successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1744,
        -128
      ],
      "id": "57720878-6188-43de-ba8d-eefd94550a4a",
      "name": "Respond Created"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"duplicate\",\n  \"message\": \"Lead already exists\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1664,
        -288
      ],
      "id": "fc91834c-6885-4e4e-b3bd-d667992d2bdf",
      "name": "Respond Duplicate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        -160
      ],
      "id": "048b3721-a00e-41f1-a56f-dd16f5349053",
      "name": "Debug Response",
      "disabled": true
    }
  ],
  "pinData": {
    "Get many items": [
      {
        "json": {
          "id": 22,
          "display_name": "Mohamed Ali - CRM automation solution",
          "message_is_follower": true,
          "message_follower_ids": [
            20
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            116,
            115
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 161
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": "+21622111444",
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "mohamed@gmail.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Mohamed Ali - CRM automation solution",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-29 14:21:42",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-29 14:21:42",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "mohamed@gmail.com",
          "email_domain_criterion": "mohamed@gmail.com",
          "phone": "22111444",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            21,
            20,
            19,
            22
          ],
          "duplicate_lead_count": 3,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-29 14:21:42",
          "write_uid": [
            1,
            "OdooBot"
          ],
          "write_date": "2026-04-29 14:21:42",
          "reveal_id": false,
          "iap_enrich_done": true,
          "show_enrich_button": false,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 21,
          "display_name": "Mohamed Ali - CRM automation solution",
          "message_is_follower": true,
          "message_follower_ids": [
            19
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            114,
            113
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 225
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": "+21622111444",
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "mohamed@gmail.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Mohamed Ali - CRM automation solution",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-29 14:20:37",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-29 14:20:37",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "mohamed@gmail.com",
          "email_domain_criterion": "mohamed@gmail.com",
          "phone": "22111444",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            22,
            20,
            19,
            21
          ],
          "duplicate_lead_count": 3,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-29 14:20:37",
          "write_uid": [
            1,
            "OdooBot"
          ],
          "write_date": "2026-04-29 14:20:37",
          "reveal_id": false,
          "iap_enrich_done": true,
          "show_enrich_button": false,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 20,
          "display_name": "Mohamed Ali - CRM automation solution",
          "message_is_follower": true,
          "message_follower_ids": [
            18
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            112,
            111
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 374
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": "+21622111444",
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "mohamed@gmail.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Mohamed Ali - CRM automation solution",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-29 14:18:08",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-29 14:18:08",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "mohamed@gmail.com",
          "email_domain_criterion": "mohamed@gmail.com",
          "phone": "22111444",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            22,
            21,
            19,
            20
          ],
          "duplicate_lead_count": 3,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-29 14:18:08",
          "write_uid": [
            1,
            "OdooBot"
          ],
          "write_date": "2026-04-29 14:18:09",
          "reveal_id": false,
          "iap_enrich_done": true,
          "show_enrich_button": false,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 19,
          "display_name": "Mohamed Ali - CRM automation solution",
          "message_is_follower": true,
          "message_follower_ids": [
            17
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            110,
            109
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 1935
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": "+21622111444",
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "mohamed@gmail.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Mohamed Ali - CRM automation solution",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-29 13:52:08",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-29 13:52:08",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "mohamed@gmail.com",
          "email_domain_criterion": "mohamed@gmail.com",
          "phone": "22111444",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            22,
            21,
            20,
            19
          ],
          "duplicate_lead_count": 3,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-29 13:52:08",
          "write_uid": [
            1,
            "OdooBot"
          ],
          "write_date": "2026-04-29 13:52:09",
          "reveal_id": false,
          "iap_enrich_done": true,
          "show_enrich_button": false,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 18,
          "display_name": "elissa",
          "message_is_follower": true,
          "message_follower_ids": [
            16
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            106,
            104
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 1826703
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": false,
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "elissa@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "elissa",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-08 10:59:20",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-08 10:59:20",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "elissa@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "999999",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            17,
            16,
            15,
            11,
            4,
            1,
            18
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-08 10:59:20",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-04-10 20:03:59",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 17,
          "display_name": "firas",
          "message_is_follower": true,
          "message_follower_ids": [
            15
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            102
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 1967853
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": false,
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "firas@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "firas",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-06 19:46:49",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-06 19:46:49",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "firas@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "11111111",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            18,
            16,
            15,
            11,
            4,
            1,
            17
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-06 19:46:49",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-04-06 19:46:49",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 15,
          "display_name": "Noura",
          "message_is_follower": true,
          "message_follower_ids": [
            12
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            100,
            93
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 2142520
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": "+21655555555",
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "noura@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Noura",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-04-04 19:15:42",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-04-04 19:15:42",
          "date_conversion": "2026-04-05 16:26:24",
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": [
            8,
            "Noura"
          ],
          "partner_is_blacklisted": false,
          "contact_name": "Noura",
          "partner_name": false,
          "function": false,
          "email_from": "noura@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "55555555",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": [
            1,
            "English (US)"
          ],
          "lang_code": "en_US",
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            18,
            17,
            16,
            11,
            4,
            1,
            15
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-04-04 19:15:42",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-04-05 16:26:24",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 11,
          "display_name": "Sarah",
          "message_is_follower": true,
          "message_follower_ids": [
            9
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            75
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 3342748
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": false,
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "sarah@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Sarah",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-03-21 21:51:54",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-03-21 21:51:54",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "sarah@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "12345678",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            18,
            17,
            16,
            15,
            4,
            1,
            11
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-03-21 21:51:54",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-03-21 21:51:54",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 4,
          "display_name": "ahmed",
          "message_is_follower": true,
          "message_follower_ids": [
            5
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            103,
            92,
            91,
            87,
            86,
            85,
            84,
            83,
            82,
            81,
            80,
            79,
            76,
            70,
            62
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 3584907,
            "2": 28
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": false,
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "ahmed@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "ahmed",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-03-19 02:35:24",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-03-23 16:50:40",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": false,
          "partner_id": false,
          "partner_is_blacklisted": false,
          "contact_name": false,
          "partner_name": false,
          "function": false,
          "email_from": "ahmed@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "11111111",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": false,
          "lang_code": false,
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            18,
            17,
            16,
            15,
            11,
            1,
            4
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-03-19 02:35:24",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-04-06 19:50:47",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      },
      {
        "json": {
          "id": 1,
          "display_name": "Test Lead",
          "message_is_follower": true,
          "message_follower_ids": [
            4
          ],
          "message_partner_ids": [
            3
          ],
          "message_ids": [
            77,
            71,
            67,
            56
          ],
          "has_message": true,
          "message_needaction": false,
          "message_needaction_counter": 0,
          "message_has_error": false,
          "message_has_error_counter": 0,
          "message_attachment_count": 0,
          "website_message_ids": [],
          "message_has_sms_error": false,
          "duration_tracking": {
            "1": 4542345
          },
          "rotting_days": 0,
          "is_rotting": false,
          "campaign_id": false,
          "source_id": false,
          "medium_id": false,
          "activity_ids": [],
          "activity_state": false,
          "activity_user_id": false,
          "activity_type_id": false,
          "activity_type_icon": false,
          "activity_date_deadline": false,
          "my_activity_date_deadline": false,
          "activity_summary": false,
          "activity_exception_decoration": false,
          "activity_exception_icon": false,
          "activity_calendar_event_id": false,
          "phone_sanitized": false,
          "phone_sanitized_blacklisted": false,
          "phone_blacklisted": false,
          "phone_mobile_search": false,
          "email_normalized": "test@test.com",
          "is_blacklisted": false,
          "message_bounce": 0,
          "email_cc": false,
          "name": "Test Lead",
          "user_id": [
            2,
            "Administrator"
          ],
          "user_company_ids": [
            1
          ],
          "team_id": [
            1,
            "Sales"
          ],
          "lead_properties": [],
          "company_id": [
            1,
            "My Company"
          ],
          "referred": false,
          "description": false,
          "active": true,
          "type": "opportunity",
          "priority": "0",
          "stage_id": [
            1,
            "New"
          ],
          "stage_id_color": 11,
          "tag_ids": [],
          "color": 0,
          "expected_revenue": 0,
          "prorated_revenue": 0,
          "recurring_revenue": 0,
          "recurring_plan": false,
          "recurring_revenue_monthly": 0,
          "recurring_revenue_monthly_prorated": 0,
          "recurring_revenue_prorated": 0,
          "company_currency": [
            131,
            "TND"
          ],
          "date_closed": false,
          "date_automation_last": false,
          "date_open": "2026-03-08 00:38:37",
          "day_open": 0,
          "day_close": 0,
          "date_last_stage_update": "2026-03-08 00:38:37",
          "date_conversion": false,
          "date_deadline": false,
          "commercial_partner_id": [
            7,
            "Demo Company"
          ],
          "partner_id": [
            6,
            "Demo Company, elissa"
          ],
          "partner_is_blacklisted": false,
          "contact_name": "elissa",
          "partner_name": false,
          "function": false,
          "email_from": "test@test.com",
          "email_domain_criterion": "@test.com",
          "phone": "12345678",
          "phone_state": "incorrect",
          "email_state": "correct",
          "website": false,
          "lang_id": [
            1,
            "English (US)"
          ],
          "lang_code": "en_US",
          "lang_active_count": 1,
          "street": false,
          "street2": false,
          "zip": false,
          "city": false,
          "state_id": false,
          "country_id": false,
          "probability": 0,
          "automated_probability": 0,
          "is_automated_probability": true,
          "won_status": "pending",
          "lost_reason_id": false,
          "calendar_event_ids": [],
          "duplicate_lead_ids": [
            18,
            17,
            16,
            15,
            11,
            4,
            1
          ],
          "duplicate_lead_count": 6,
          "meeting_display_date": false,
          "meeting_display_label": "No Meeting",
          "partner_email_update": false,
          "partner_phone_update": false,
          "is_partner_visible": true,
          "create_uid": [
            2,
            "Administrator"
          ],
          "create_date": "2026-03-08 00:38:37",
          "write_uid": [
            2,
            "Administrator"
          ],
          "write_date": "2026-03-22 01:16:02",
          "reveal_id": false,
          "iap_enrich_done": false,
          "show_enrich_button": true,
          "lead_mining_request_id": false
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an item": {
      "main": [
        [
          {
            "node": "Respond Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Debug Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e68f5409-5802-46a9-b1c1-95e7ad20512d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5576a61ccc5fa33a18217bcace55a423e3e430baa28dacc37bad3c4d0ca47da7"
  },
  "id": "wyqAvu2K0r2hertd",
  "tags": []
}